@model Portal.Models.PharmacyListViewModel

@{
    ViewBag.Title = "Pharmacies";
}

<h2>Pharmacies</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pharmacy</th>
        </tr>
    </thead>
    <tbody>
        <!--Display Each Pharmacy in a table-->
        @for (var i = 0; i < Model.Pharmacies.Count; i++)
    {
        <tr>
            <td>@Model.Pharmacies[i].PharmacyInfo</td>
            <td>
                @Html.ActionLink("Detail", "PharmacyDetail", new { id = Model.Pharmacies[i].PharmacyId }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Edit", "PharmacyEdit", new { id = Model.Pharmacies[i].PharmacyId }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Controlled Substances", "ManageControlledSubstances", new { id = Model.Pharmacies[i].PharmacyId }, new { @class = "btn btn-warning btn-sm" })
                <a class="btn btn-danger btn-sm" data-toggle="modal" href="@("#deletePharmacyModal" + i)">Delete</a>
                <div class="modal fade" id="@("deletePharmacyModal" + i)" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            @using (Html.BeginForm("DeletePharmacy", "Pharmacy"))
                {
                    <input type="hidden" value="@Model.Pharmacies[i].PharmacyId" name="PharmacyId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete @Model.Pharmacies[i].PharmacyInfo</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete @Model.Pharmacies[i].PharmacyInfo?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
    }
                        </div>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="col-sm-12 form-group">
    <label>Total Pharmacies:</label> @Model.TotalPharmacies
</div>
<div class="col-sm-12">
    @Html.ActionLink("Add Pharmacy", "PharmacyAdd", null, new { @class = "glyphicon-plus btn btn-primary btn-lg btn-block" })
</div>