@model Vialsnap.Models.PatientViewModel
@{
    var isEditMode = Model.PatientId != null;
    ViewBag.Title = isEditMode ? "Edit " + Model.FullName : "Add Patient";
}


<h2>@Model.FullName</h2>

<div class="row">
    <div class="col-sm-6 col-xs-10">
        @using (Html.BeginForm(isEditMode ? "EditPatient" : "AddPatient", "Patient"))
    {
        @Html.HiddenFor(m => m.PatientId)

        <div class="form-group">
            @Html.LabelFor(m => m.Prefix)
            @Html.TextBoxFor(m => m.Prefix, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.MiddleName)
            @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Suffix)
            @Html.TextBoxFor(m => m.Suffix, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:d}", new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-primary">@(isEditMode ? "Save" : "Add")</button>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
}
    </div>
</div>